<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
<h1>Background of Blue Fridge</h1>
<h2>It can be a challenge to think of healthy meal recipes with a limited amount of ingredients, use the the Blue Fridge app to enter what you have in your fridge and find recipes with a minimal amount of extra ingredients.  
</h2>
<%= image_tag("stars_small.jpg") %>

