<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>
<h1>Blue Fridge</h1>
<h2>Charl is interested in helping other people with a busy routine create healthy recipes at home</h2>
<%= image_tag("stars_small.jpg") %>