
  <h1>Welcome to the Blue Fridge</h1>
  <%= image_tag("spag.jpg", class: "fridge img-responsive") %>
	<h3><em>Delicious recipes for busy people</em></h3>

 
<div class="row">
  <div class="col-md-4 col-xs-12">
    <div class="gallery">
      <%= image_tag("veg.jpg", class: "img-responsive")%>
    </div><!--close gallery-->
    <h3>Beetroot</h3>
    <p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion
    daikon amaranth tatsoi tomatillo melon azuki bean garlic. Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
    </div> <!--end col-->

    <div class="col-md-4 col-xs-12">
      <div class="gallery">
        <%= image_tag("pasta.jpg", class: "img-responsive")%>
      </div> <!--close gallery-->
      <h3>Artichoke</h3>
      <p>Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke
      </p>
    </div> <!--end col-->

    <div class="col-md-4 col-xs-12">
      <div class="gallery">
        <%= image_tag("cake.jpg", class: "img-responsive")%>
      </div> <!--close gallery-->
      <h3>Pumpkin</h3>
      <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko.</p>
    </div> <!--end col-->
</div><!--end row-->


