$font-stack: Helvetica, sans-serif
$palegreen: #98FB98



img
	max-width: 400px
	max-height: 400px


h1, h2, h3, p
	padding-left: 15px

*
	margin: 0

html, body
	height: 100px

.block
	height: 50px

.page-wrap 
	min-height: 100%
	margin-bottom: -142px

.page-wrap:after
	content: ""
	display: block

.site-footer, .page-wrap:after
	height: 142px

.site-footer
	background: orange