$font-stack: Helvetica, sans-serif
$palegreen: #99cccc
$palepink: #F66EBB
$peach: #FFC89A

.fridge 
	display: block
	margin: 0 auto
  

img
	max-width: 400px
	max-height: 400px


h1, h2, h3, 
	padding-left: 15px
	text-align: center
	color: #808080

.background
	font-size: 16px
	color: #808080




html, body
	height: 100px

.block
	height: 50px

.page-wrap 
	min-height: 100%
	margin-bottom: -142px

.page-wrap:after
	content: ""
	display: block

.site-footer, .page-wrap:after
	height: 142px

.site-footer
	background: orange