@import 'navbar'
@import 'skeleton'

$font-stack: Helvetica, sans-serif

*
	margin: 0

html, body 
	height: 100%
	font: 100% $font-stack
	color: blue
	background-color: #d3d3d3



.site-footer, .page-wrap:after 
	height: 100px

.site-footer
	background: pink
